@font-face {
  font-family: "Alphacentauri";
  src: url("/src/fonts/Alphacentauri.ttf");
}
@font-face {
  font-family: "Brave81";
  src: url("/src/fonts/BraveEightyoneRegular.ttf");
}

html{
  background-color: black !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.size-400{
  max-width: 400px;
}

.height-100vh{
  min-height: 100vh;
}
.login{
  background: black url("images/bg1.png") no-repeat right;
}

.custom-control, .custom-switch{
  padding: 0!important;
}

.login .card{
  background-color: rgba(0,0,0,0) !important;
  color: white!important;
}
.form-input{
  display: block;
  width: 100%;
  padding-left: 15%;
  margin-bottom: 5%;
  height: 40px;
  border-radius: 2px;
  background-color: black;
  border: 2px #05505B solid;
  color: white;

}

.form-img{
  display: inline-block;
  width: 40px;
  height: 30px;
  position: absolute;
}
.btn-three {
  transition: all 0.5s;
  position: relative;
  color: white!important;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;

  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);

}

.form-txt, .form-txt a, .btn-link.logout-btn{
  color: rgba(255,255,255,0.2)!important;
  text-decoration: none!important;
}

.form-txt a:hover, .btn-link.logout-btn:hover{
  color: white!important;
  text-decoration: none;
}

.card-body h2{
  font-family: Brave81, sans-serif;
}

.login h1{
  font-family: Alphacentauri, monospace;
  color: white;
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  top: 45%;
  right: 0;
}

.dashboard{
  background-color: black;
  color: white;
  min-height: 100vh;
}

.navbar-brand{
  font-family: Alphacentauri, monospace;
  font-size: 2rem !important;
}
.btn.btn-outline-light {
  background:transparent;
  text-align:center;
  letter-spacing:1px;
  font-size:1.4em;
  line-height:1em;
  font-weight:300;
  margin:auto;
  padding:10px 20px;
  border:1px solid #05505B;
  overflow:hidden;
  display:inline-block;
  transition:all 0.5s;
  box-shadow:0 2px 0 #05505B;
  border-radius: 4px;
}

.btn.btn-outline-light:hover, .btn.btn-outline-light:active {
  text-decoration: none;
  color:#fff;
  border-color:#05505B;
  background:#05505B;
  box-shadow:0 0 0 #05505B;
}

.btn-label {
  display:inline-block;
  position:relative;
  padding-right:0;
  transition:padding-right 0.5s;
  color:#05505B;
  font-family: Brave81, sans-serif;
  font-weight:200;
}
.btn-label:after {
  content: "";
  position:absolute;
  right:-50px;
  opacity:0;
  top:22%;
  width:10px;
  height:10px;
  margin-right:-10px;
  background:rgba(0,0,0,0);
  border:3px solid #fff;
  border-top:none;
  border-right:none;
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform:rotate(225deg);
}

.btn.btn-outline-light:hover .btn-label,
.btn.btn-outline-light:active .btn-label {
  padding-right:30px;
  color:#f5f1e7;
}

.btn.btn-outline-light:hover .btn-label:after,
.btn.btn-outline-light:active .btn-label:after {
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity:1;
  right:10px;
  top:22%;
}

.folder-container{
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0,100,150,0.1);
  padding: 2%;
}

.add-folder-btn{
  position: fixed;
  right: 5vh;
  bottom: 15vh;
  border-radius: 5px;
  padding: 5px;
  background: none;
  border: none;
  
}

.add-folder-btn:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
.add-folder-btn:hover:after {
  width: 100%;
}


.add-folder-btn img{
  width: 50px;
}

.add-file .add-folder-btn{
  bottom:5vh;
  cursor: pointer;
  }

.add-file .add-folder-btn img{
  width: 40px;
}

.add-file input{
  display: none;
}

.btn-x{
  margin-left: 92%;
  margin-top: 2%;
  padding: 0!important;
  width: 5%;
  background:none!important;

}

.modal-content{
  background-color:#000A0F!important;
  color: white!important;
}

.profile{
  background-color: black;
  min-height: 100vh;
  color: white;
  padding: 5% 0;
}

.profile .card{
  background-color: #000A0F;
  width: 50%;
  margin: 0 auto;
}

.back-btn{
  width: 10%;
  position: absolute;
  top: 5vh;
  left: 10vw;
}
.bg-trans{
  background-color: rgba(0,0,0,0)!important;
}


.empty-folder div{
  padding: 2%;
  margin: 5%;
  position: absolute;
  right:0;
  width: 50vw;
  background-color: rgba(0,0,0,0.3);
  z-index: 1;
  color: white;
}
.empty-folder div h1,div h4, div h5{
  font-weight: lighter;
}

.empty-folder img{
  position: absolute;
  left: 10vw;
  transform: scaleX(-1);
}

.file div img{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.img-zoom {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}

.img-zoom img {
  transition: transform .5s ease;
  transform: scale(1.3);
}

.img-zoom:hover img {
  transform: scale(1);
}

.file p{
  font-size: 1.1rem;
  color: #00A3A3;
  display: inline-block;
  width: 7rem;
}

.line{
  background-color: rgba(0,100,150,0.4);
  width: 60%;
}

.path-item{
  font-size: 1.2rem;
}

.ml-6{
  margin-left: 5vw!important;
}

.drop-down{
  z-index: 10;
  position: absolute;
  background-color: #000A0F;

}

.dropdown-item{
  color: white!important;
}

.dropdown-item:hover{
  background-color: #05505B!important;
}

.firebaseui-container{
  max-width: 374px !important;
}
.firebaseui-idp-list>.firebaseui-list-item{
  margin-bottom: 0;
  margin-right: 15px !important;
  display: inline !important;
}
.firebaseui-idp-button{
  max-width: 20px !important;
  min-height: 30px !important;
}
.firebaseui-idp-icon{
  width: 30px !important;
}

.firebaseui-idp-text.firebaseui-idp-text-long{
  display: none !important;
}

@media  (max-width: 560px){
  .firebaseui-idp-icon{
    width: 18px !important;
  }
  .firebaseui-idp-list{
   text-align: center!important;
  }
  .firebaseui-idp-button{
   margin-top: 20px !important;
  }
}
